<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Porter Property Maintenance, LLC</title>
    <link rel="icon" href="/images/P.png" />
</head>

<a id="main"></a>

<body>
    <header class="navbar">
        <nav class="navbar-container" aria-label="Global">
            <div class="nav-flex">
                <a href="#main" class="nav-logo">
                    <img src="/images/P.png" class="nav-img-class" alt="P">
                    <span class="nav-text">Porter Property Maintenance</span>
                </a>
            </div>
            <div class="nav-links">
                <a href="#about" class="link-text">About Us</a>
                <a href="#services" class="link-text">Services We Offer</a>
                <a href="estimate.html" class="link-text">Estimates</a>
                <a href="contact.html" target="_self" class="link-text">Contact Us</a>
            </div>
        </nav>
    </header>

    <nav role="navigation" class="navbar">
        <div id="menuToggle">
            <input type="checkbox" id="menuCheckbox"/>
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <li class="menu-item"><a href="#main">HOME</a></li>
                <li class="menu-item"><a href="#about-anchor">ABOUT</a></li>
                <li class="menu-item"><a href="#services">SERVICES</a></li>
                <li class="menu-item"><a href="estimate.html">ESTIMATES</a></li>
                <li class="menu-item"><a href="contact.html">CONTACT</a></li>
            </ul>
        </div>
    </nav>

    <div class="main">
        <div class="main-img">
            <div class="main-wrapper"></div>
            <div class="main-container reveal">
                <div class="center-container">
                    <img src="/images/Porter_Prop_Logo-removebg-preview.png" alt="Porter Property Maintenance">
                    <p class="nav-text">Providing top-notch property maintenance services, our company ensures<br> your property is always in its best condition.<br> Your satisfaction is our priority.
                    </p>
                    <div class="justify-start mt-10 flex items-center gap-x-6">
                        <a href="contact.html" class="rounded-md px-3.5 py-2.5 text-sm font-semibold shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2" style="background-color: rgb(230, 200, 122); color: rgb(255, 255, 255);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


<a class="anchor" id="about-anchor"></a>
    <div id="about">
        <div class="about-container">
            <div class="about-content">
                <div class="about-flex">
                    <span class="about-topper">About Us</span>
                    <h2 class="about-title">Maintain Your Property or Passion</h2>
                </div>
            </div>
            <div class="about-wrapper">
                <ul class="about-card-group">
                    <li class="about-item">
                        <picture class="about-icon-wrapper">
                            <img class="about-icon" src="/images/maps-pin-black-icon.png" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        </picture>
                        <div class="about-text-group">
                            <h3 class="about-h3">Local Tri-State Area Expertise</h3>
                            <p class="about-item-text">
                                Specializing in Eastern Kentucky, Southern Ohio, and Western West Virginia, our team, led by the father-and-son duo Tim and Tyler Porter, has an in-depth understanding of the unique maintenance needs of the Tri-State area. Our local knowledge equips us to offer services that are specifically tailored to the community. </p>
                        </div>
                    </li>
                    <li class="about-item">
                        <picture class="about-icon-wrapper">
                            <img class="about-icon" src="/images/toolbox-repairing-icon.png" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        </picture>
                        <div class="about-text-group">
                            <h3 class="about-h3">Diverse Skill Set for Every Need</h3>
                            <p class="about-item-text">
                                Whether it's a small repair or a large-scale renovation, our broad range of skills means we can handle almost any maintenance task. This versatility saves you time and hassle as you won't need to juggle multiple contractors for different needs. </p>
                        </div>
                    </li>
                    <li class="about-item">
                        <picture class="about-icon-wrapper">
                            <img class="about-icon" src="/images/peoples-group-icon.png" loading="lazy" decoding="async" alt="icon" width="50" height="50" aria-hidden="true">
                        </picture>
                        <div class="about-text-group">
                            <h3 class="about-h3">Family-Driven Commitment to Quality</h3>
                            <p class="about-item-text">
                                As a family-run business established in 2022, we bring a personal touch and a deep commitment to each project we undertake. Our clients are not just customers; they're our neighbors and community members. This personal investment in our work guarantees a level of care and quality that sets us apart. </p>
                        </div>
                    </li>
                </ul>
                <div class="about-image-group">
                    <div class="about-picture-wrapper">
                        <picture class="about-picture about-picture1">
                            <source media="" srcset="/images/jpg/ppm.jpg">
                            <source media="" srcset="/images/jpg/ppm.jpg">
                            <img loading="lazy" decoding="async" src="/images/jpg/ppm.jpg" alt="meeting">
                        </picture>
                        <a href="#services">
                            <div class="about-box">
                                <span class="about-header">Services</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="services">
        <a id="three-column-images-0"></a>
        <div class="bg-white py-24 sm:py-32">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto max-w-2xl text-center">
                    <h2 class="text-gray-900 text-3xl font-bold tracking-tight sm:text-4xl">Our Services</h2>
                    <p class="text-gray-700 mt-2 text-lg leading-8">We provide a comprehensive range of services in the Property Maintenance industry, tailored to meet the unique needs of our clients.</p>
                </div>
                <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
                    <article class="flex flex-col items-start justify-between" data-sgpt-block="lqikzipkimqa77751dc">
                        <div class="relative w-full"><img src="https://df310046sxkes.cloudfront.net/asset/672x672/Property%20maintenance%20-%20Mowing%20lawns%203.jpg" class="aspect-[16/9] w-full rounded-2xl object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
                            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
                        </div>
                        <div class="max-w-xl">
                            <div class="group mt-8 relative">
                                <h3 class="text-gray-900 mt-3 text-lg font-semibold leading-6">
                                    <div>Routine Maintenance</div>
                                </h3>
                                <p class="text-gray-700 mt-5 line-clamp-3 text-sm leading-6">Our Routine Maintenance service keeps your property functioning optimally, reducing the risk of unexpected breakdowns and enhancing its value.</p>
                            </div>
                        </div>
                    </article>
                    <article class="flex flex-col items-start justify-between" data-sgpt-block="lqikzipk26amo2fp8ht">
                        <div class="relative w-full"><img src="https://df310046sxkes.cloudfront.net/asset/672x672/Property%20Maintenance%20-%20Fixing%20Broken%20Windows%205.jpg" class="aspect-[16/9] w-full rounded-2xl object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
                            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
                        </div>
                        <div class="max-w-xl">
                            <div class="group mt-8 relative">
                                <h3 class="text-gray-900 mt-3 text-lg font-semibold leading-6">
                                    <div>Emergency Repairs</div>
                                </h3>
                                <p class="text-gray-700 mt-5 line-clamp-3 text-sm leading-6">Our Emergency Repairs service is available 24/7, providing immediate assistance to address any urgent property maintenance issues efficiently.</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <footer>
        &copy; 2023 Porter Property Maintenance
    </footer>
    <script src="/js/script.js"></script>
</body>

</html>
